/*#region generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#endregion generals*/

/*#region utily*/
.font_Edu_Tas_Beginner {
    font-family: 'Edu Tas Beginner', sans-serif;
}

/*#endregion utily*/

/*#region header*/
header {

    background-image: url(../img/wall.png);

    h1 {
        font-size: 80px;
        font-weight: 1000;
    }
}

/*#endregion header*/


/*#region main*/

main {
    background-image: url(../img/cork.png);
}

/*image size to card*/
.card-img-top {
    width: 100%;
    max-height: 265px;
}

/*pin on top card*/
.pin {
    top: 0;
    left: 50%;
    z-index: 3;
    translate: -50% -50%;
}

.card_date {
    font-family: 'Sometype Mono', monospace;
    margin: 0;
}

.card-title {
    font-weight: 700;
    margin: 0;

}

/*#endregion main*/